[2017-03-10 17:41] chrmarti opened #1 "Bootstrap extension"
- [x] `yo` up an extension.
- [x] Add a language id with file extension .sha.
- [x] Add simple coloring.
- [x] Run current line in terminal action/keybinding.

[2017-03-10 17:42] chrmarti opened #2 "Add simple completion proposals"

[2017-03-10 17:43] chrmarti opened #3 "Investigate parsing single command for better completion proposals"

[2017-03-10 18:44] #1 closed, assigned to chrmarti

[2017-05-02 22:27] #2 closed, assigned to chrmarti

[2017-05-02 22:28] #3 closed, assigned to chrmarti

[2017-05-17 09:00] tmds opened #4 "Even useful without azurecli"
I like being able to put some commands in a file and then be able to select and execute some of them on the fly.

It would be nice if there was completion for other commands, similar to how it is available in a terminal.

[2017-05-17 20:49] lostintangent opened #5 "[Feature Request] Provide completion list for default settings via the "az configure" command"
It would be awesome if this extension provided a completion list for valid setting names when typing `az configure --defaults` (e.g. `web`, `location`, `group`, `acs`). The CLI itself doesn't even provide this information in a single place, or in the help text for the `az configure command` (since `--defaults` isn't an enum property), so that may be a feature request for the CLI. However, I tend n

[2017-05-17 21:27] lostintangent opened #6 "[Feature Request] Expose run commands for unsaved files"
I created a new file (via `CMD+N`), and then changed its language mode to `Azure CLI Scrapbook` (via the command palette), but I noticed that the "run" commands (context menus or shortcut keys) weren't available. Once I saved the file (which I actually didn't want to do), then the context menus became available.

It would be cool if these commands were available for any file tagged as `Azure CLI S

[2017-05-17 21:46] lostintangent opened #7 "[Feature Request] Allow omitting "az" prefix"
Since the scrapbook is specific to Azure CLI 2.0, it would be cool if you could omit the `az` prefix and just run commands without it (e.g. `webapp create` vs. `az webapp create`). Maybe that could be a setting that devs could opt-in to?

[2017-05-17 21:51] lostintangent opened #8 "[Feature Request] Display errors for commands that are missing required args"
It would be cool if the scrapbook provided indication of commands that were missing required args (e.g. via red squiggles, `Problems` tab entries), which took into account the currently set defaults as well.

[2017-05-18 15:25] chrmarti commented on #6
Seems to be a VSCode issue, opened: Microsoft/vscode#26873

[2017-05-18 15:27] chrmarti commented on #7
Currently you can type `web<enter>` and it will expand to `az webapp`.

[2017-05-18 15:52] lostintangent commented on #7
@chrmarti Are you referring to the snippet? In my case, the completion list doesn't actually keep up with my typing, so if I type `web<enter>` it just enters a newline, instead of expanding the snippet. If I wait a second after typing `web`, then I see the behavior you mentioned, but it would still be cool to allow omitting the `az` prefix.

[2017-05-18 16:01] chrmarti commented on #7
Yes, it should be faster on the second try. We can keep this issue to track your request.

[2017-05-19 00:40] lostintangent commented on #7
Sounds good, thanks!

[2017-05-19 15:03] #6 closed

[2017-05-23 18:35] jstabl opened #9 "OSX: Run Current Command Not Available"
I am not seeing Run Current Command option when using OSX also keyboard shortcuts do not work either. It's possible I am missing something?

 VS Code 1.12.2 and vscode-azurecli version 0.1.0.

[2017-05-23 18:56] chrmarti commented on #9
Is this with a saved `.azcli` file? Does it show any coloring?

[2017-05-23 18:59] jstabl commented on #9
Ah, I just created a blank file and changed the language to Azure CLI Scrapbook. As soon as I created a file with .azcli the extension started to work. Thank you.

[2017-05-23 18:59] #9 closed

[2017-05-23 19:01] chrmarti commented on #9
This is fixed in master (#6)

[2017-06-06 05:37] chrisdias opened #10 "--name completions failing"
Insiders 1.13.0-insiders
Windows 10

[code]

[code]

Result: never get completions for `--name` parameter with a list of sites to browse
I verified that `az interactive` gives me this information.

![image](https://cloud.githubusercontent.com/assets/1487073/26815168/98df2496-4a3f-11e7-94d1-f8187607f694.png)

[2017-06-06 05:53] chrisdias opened #11 "completion performance on windows"
Completions on Windows are very slow... at least 5-6 seconds before the list appears.  `az interactive` is almost instant.

![azcli](https://cloud.githubusercontent.com/assets/1487073/26815533/c4da7314-4a41-11e7-9a75-94f8fb5679b5.gif)

[2017-06-13 18:36] rspaulino opened #12 "'az' not found on PATH, make sure it is installed."
OS: OSX 10.12.5
VSCode: Version 1.13.0 (1.13.0)
Azure CLI: azure-cli (2.0.7)
Python (Darwin) 2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

Python location '/Users/rspaulino/lib/azure-cli/bin/python'
------------------------------------------------------------
I'm able to run az from the terminal and from vscode when I send the command to the term

[2017-06-13 18:51] rspaulino commented on #12
Uninstalling and Installing the extension back again fix the issue.

[2017-06-13 19:32] chrmarti commented on #12
Did you install az after installing the extension? Maybe the extension's PATH hadn't picked up the new location yet. Not sure how reinstalling would help except that VSCode would reload with the latest PATH.

[2017-06-13 21:44] rspaulino commented on #12
I have az install already but it wasn't working so I delete it and install it multiple times and that didn't help, so I download your code from GitHub and ran it on vscode and that was working I don't know if it's because I have the SYNC extension and the sync extension was the one that install vscode-azurecli on my second Mac.

[2017-08-07 21:26] willsmythe opened #13 "Content assist stuck showing "Loading..." on Windows"
Intelli-sense/content assist does not present valid values; only "Loading...".

1. Installed the Azure CLI extension
2. Created a new .azcli file and opened it
3. Typed `az ` and CTRL+SPACE
4. "Loading..." appeared, but never presented anby options. No visible errors. "Loading..." just continues to show.

![image](https://user-images.githubusercontent.com/2503052/29046208-6b00a4c4-7b94-11e7-887f-3

[2017-08-07 21:54] willsmythe commented on #13
Open the developer tools in Code shows the following error when its attempting to load content assist:

[code]

[2017-08-08 21:36] chrmarti commented on #13
@willsmythe Could you upgrade your `az` installation? I remember there was an issue sometime around 2.0.7 (not sure about the exact version).

[2017-08-18 17:29] chrisdias opened #14 "completions not found, then extension host crash"
VS Code running overnight on closed laptop, logged in this morning and see this:

![image](https://user-images.githubusercontent.com/1487073/29470101-ebe7b280-83ff-11e7-9173-f26167036f20.png)

Open developer tools, see this in console:

[code]

Azure CLI version:

[code]

I had been using the Azure CLI extension and was not getting completions against the webapp --name parameter. Will log that as

[2017-08-18 17:33] chrisdias opened #15 "No completions for webapp --name"
[code]

result: no completions

[code]

result: completions (goodness!)

[code]

result: still no completions

Here' what I see in the dev tools console:

[code]

[2017-08-18 17:33] chrisdias commented on #14
completions issue: https://github.com/Microsoft/vscode-azurecli/issues/15

[2017-08-28 00:30] chrisdias opened #16 "running commands with cmd+' fails in insiders"
I'm seeing a problem with the Azure CLI extension on Insiders today as well that may be related.

When I try to execute any command (using cmd+' or ctrl+') I get this error:

`running the contributed command:'ms-azurecli.runLineInTerminal' failed`

Here is the command being executed that appears to be failing:

        return commands.executeCommand('workbench.action.terminal.runSelectedText', edi

[2017-08-30 16:48] #16 closed

[2017-08-30 16:53] chrisdias opened #17 "Add command to install the Azure CLI"

[2017-08-30 17:22] chrisdias commented on #17
fixed with https://github.com/Microsoft/vscode-azurecli/pull/18

[2017-08-30 17:22] #17 closed

[2017-08-31 18:59] lunar87 opened #19 "No intellisense/autocomplete"
Running VSCode on Windows, installed CLI, running commands works, but there is no intellisense

[2017-09-03 19:43] chrisdias commented on #19
I'm seeing the same things. The performance of Python and the underlying CLI on Windows seems to be an issue. You have to wait for the extension to pick up the login (you'll see the status in the status bar) and then you will start to see completions.  However, if you type quickly, back up, etc. you can see the completion list gets confused. Here I'm at `az` but it is showing me completions for `w

[2017-09-03 19:45] chrisdias commented on #19
az cli version 2.0.15
python version 3.6.1

[2017-09-03 19:46] chrisdias commented on #19
related to #13 and #15 ?

[2017-09-03 19:47] chrisdias commented on #15
dupe of #10

[2017-09-03 19:47] #15 closed

[2017-09-13 20:56] chrisdias opened #20 "No completions on az webapp create --plan"
macos, insiders latest

create a new app service plan (actually run the commands):

[code]

Now try to get IntelliSense on the --plan:

[code]

result: no completions:

![image](https://user-images.githubusercontent.com/1487073/30400283-3aa10148-988b-11e7-803e-bff55478db39.png)

[2017-09-13 20:58] chrisdias opened #21 "No completions on az webapp browse --name"
[code]

Now try to write the browse command:

[code]

result: no completions for name (I pressed ctrl+space to try to bring up completions):

![image](https://user-images.githubusercontent.com/1487073/30400381-92d65f8e-988b-11e7-9bae-22a7f068a8d5.png)

[2017-09-14 16:44] chrmarti commented on #20
Works for me. Is there anything in the console?

[2017-09-14 21:31] chrisdias commented on #19
works *much* better on windows!

[2017-09-21 11:07] vykhand opened #22 "Completions not available showing loading"
Often when I open VS Code and start writing commands in azcli file, the suggestions are not available. I start entering command, it does not suggest anything. If I hit Ctrl-Space, it is showing "loading" for a long time. I am logged in with az and if I type az account list in terminal - it works

![image](https://user-images.githubusercontent.com/498481/30692879-90693f94-9ecd-11e7-9be5-5b0b20ff17d

[2017-09-25 18:26] chrmarti commented on #22
@vykhand Is this on Windows? (We have a fix there we want to publish soon.)

[2017-09-25 20:52] chrmarti commented on #21
Duplicate of #20

[2017-09-25 20:52] #21 closed

[2017-09-25 20:54] chrmarti commented on #20
This cleared after upgrading `az`, if I remember correctly. I have also improved error handling for when the Python scripts crashes.

[2017-09-25 20:54] #20 closed

[2017-09-25 20:55] chrmarti opened #23 "Publish bugfix release"
@chrisdias To confirm: Should we publish a new release with the fixes in this milestone?

[2017-09-25 22:26] vykhand commented on #22
@chrmarti yeap, it is on Win10 x64.

[2017-09-25 23:23] chrmarti commented on #22
Thanks. Duplicate of #19. Also make sure you're on the latest version of `az`.

[2017-09-25 23:23] #22 closed

[2017-09-27 01:31] chrisdias commented on #23
yes!

[2017-10-02 14:40] #23 closed

[2017-10-16 19:05] vykhand commented on #19
Dear all,  I am on az 2.0.18, and the issue still takes place. Can we please reopen the issue?
Some times I notice that if I start typing it gives me suggestions (not always!) but what I press ctrl-space it shows loading.

![image](https://user-images.githubusercontent.com/498481/31630019-97044a46-b2b5-11e7-8c91-0ab4633f29df.png)

[2017-10-16 21:33] chrisdias commented on #19
@chrmarti i'm seeing the same regression of the experience on windows over the weekend...

[2017-10-30 22:25] chrmarti commented on #19
Cannot reproduce with az 2.0.20, could you retry with that?

[2017-11-03 23:06] deltadan opened #24 "EOL Issues"
Ok, after a TON of pain I've determined that if you write a new bash script using this exention and then just try to save as a .sh file then the EOL characters are incorrect.  I spent hours trying to figure out what the problem was until I just pulled the files into Notepad++ and did their simple EOL conversion.

I would suggest that this is a bug as there is no reason why unix EOL shouldn't be us

[2017-11-04 15:49] deltadan commented on #24
I've come to realize that this is true if I create a .sh file from scratch as well, so I would suggest looking into how to fix this with another plug-in or something.

Thanks,
Dan

[2017-11-06 15:56] chrmarti commented on #24
Have you tried the [.editorconfig](https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig) extension with:
[code]
That seems to work for me.

[2017-11-07 17:54] chrmarti commented on #19
@jonathanmoons @chrisdias Could you retry with the latest CLI? (It worked for me with 2.0.20.)

[2017-11-15 16:09] chrmarti opened #25 "Does not work with the Homebrew install of the Azure CLI"
Tracking https://github.com/Azure/azure-cli/issues/4573

[2017-11-17 23:53] MaurGi opened #26 "when trying to push to azure registry, I have to manually run az acr login from the command line"
CLI tools - Release 0.3.0

My VS Code version:
![image](https://user-images.githubusercontent.com/13138584/32973928-6932a672-cbaf-11e7-811d-1ac7f09f9f57.png)

[2017-11-20 15:13] chrmarti commented on #26
What would the expected behavior be? (I think the registry has a separate username and password.)

[2017-11-20 16:30] MaurGi commented on #26
Sorry this bug is poorly written, I was in a rush - my expectation is to prompt for username and password, like it does for DockerHub - if you select DockerHub under registries, you are prompted for a username:
![image](https://user-images.githubusercontent.com/13138584/33029204-d8e8e9c6-cdcc-11e7-80a3-a07724d2ac6e.png)
The same is not true if you select Azure as registry -

thx

[2017-11-20 18:03] chrmarti commented on #26
Got it, are you using the Docker extension? This might be a request going to that extension.

[2017-11-20 18:46] MaurGi commented on #26
I am -
I have Docker extension version 0.0.22 - thx.

[2017-11-20 18:57] chrmarti commented on #26
This issue was moved to Microsoft/vscode-docker#177

[2017-11-20 18:57] #26 closed

[2017-11-30 23:04] #24 closed

[2018-01-08 15:25] chrmarti opened #27 "Update to Knack-based version of CLI"

[2018-01-09 12:00] chrmarti commented on #27
Filed Azure/azure-cli/issues/5245, which breaks, e.g., webapp name completion when the resource group is already given.

[2018-01-09 21:17] bdelaney opened #28 "Is there a preferred terminal to run CLI commands in?"
I notice bash in the example you show. I sometimes see cmd, sometimes powershell, sometimes python when I use the extension to 'run line in terminal.'
Does it matter?

[2018-01-09 22:35] chrisdias commented on #28
@bdelaney you can [configure VS Code to run different shells in the terminal](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration) (e.g. cmd or powershell on windows, bash or zsh on Mac, etc.).  `Run line in terminal` simply takes the line and pipes it to the terminal, as if you typed it in yourself.  As long as you have the [Azure CLI installed](https://docs.microsoft.com

[2018-01-09 22:35] #28 closed

[2018-01-10 10:43] #27 closed

[2018-02-23 13:14] blelem commented on #19
Same problem here. Text is colored ok, running commands works, but intellisense doesn't offer any suggestions.
azure-cli (2.0.27)
VScode version 1.20
python version 3.6.4
Mac High Sierra
![screen shot 2018-02-23 at 15 10 01](https://user-images.githubusercontent.com/2476938/36595664-b96d2dd0-18ab-11e8-84c5-ee760408bbbc.png)

[2018-03-02 08:58] bpasero opened #29 "Remove extranous "Close" button"
From here: https://github.com/Microsoft/vscode-azurecli/blob/6aa392d35698ba0d77c1a7ee7423250b6f8dd2c2/src/extension.ts#L324

With the new notifications UX this is no longer needed.

[2018-03-12 08:59] chrmarti commented on #13
Closing with no additional feedback being provided.

[2018-03-12 08:59] #13 closed

[2018-03-12 09:00] chrmarti commented on #12
Closing as we don't have enough information to address the cause.

[2018-03-12 09:00] #12 closed

[2018-03-12 09:01] chrmarti commented on #11
This seemed to be fixed with the update to Azure CLI 2.0.24. Please reopen if this is still an issue.

[2018-03-12 09:01] #11 closed

[2018-03-12 09:32] chrmarti commented on #10
Works for me on Windows 10 with the latest. Please reopen if this is still an issue.

[2018-03-12 09:32] #10 closed

[2018-03-22 09:34] ThorstenHans opened #32 "Execute entire .azcli file at once"
Hey,

I'd love to see a command to execute the entire `.azcli` script at once. Are there plans to implement such a feature?

[2018-03-22 09:58] marb21 opened #33 "Provide full hotkeys documentation"
First of all.. This is an awesome extension!
I would like to understand all the hotkeys. For example, after writing "az vm create"... press any hotkey and automatically write the required parameters to create a VM.

Thanks!

[2018-03-27 06:35] chrmarti commented on #33
There are not that many. There is a list on the "Contributions" tab when you open the extension from the extensions viewlet:
![image](https://user-images.githubusercontent.com/9205389/37950521-1b83b966-3199-11e8-87e9-3ecc40b2ef06.png)

"Toggle Live Query" is somewhat experimental and updates what you see in the editor opened to the right after running "Run Line in Editor".

To get the list of requ

[2018-03-27 06:45] chrmarti commented on #32
You can do that with a task. E.g., on Linux/Mac (couldn't find the syntax for Windows' PowerShell rightaway) use the following `.vscode/tasks.json`:
[code]

[2018-03-27 06:45] #32 closed

[2018-03-27 06:46] #33 closed

[2018-03-27 06:54] ThorstenHans commented on #32
Cool, thanks!

[2018-03-28 08:41] vykhand commented on #19
Hi guys, I still have this problem. What do you think is the root cause? If you point me to it I may try to fix it.

[2018-03-29 06:58] chrmarti commented on #19
@vykhand Which versions of this extension, VS Code and the Azure CLI are you using? Make sure all are at the latest released version. If the problem persists, please check if there are any errors in the console (Help > Toggle Developer Tools).

[2018-04-04 20:57] mcollier commented on #19
Same problems for me.

- Version 1.21.1
- Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
- Date 2018-03-14T14:46:47.128Z
- Shell 1.7.9
- Renderer 58.0.3029.110
- Node 7.9.0
- Architecture x64

Azure CLI Tools v0.4.1

Azure CLI 2.0.30

Python 3.6.0 :: Anaconda 4.3.0

<img width="1639" alt="vscode azure cli tool error" src="https://user-images.githubusercontent.com/1142273/38334367-1f5180a0-3829-11

[2018-04-05 06:33] chrmarti commented on #19
The stacktrace suggests that you are running a CLI version < 2.0.24. Could there be an old version on the PATH? What is the CLI version you get when running `az --version` from a command prompt?

[2018-04-05 16:39] vykhand commented on #19
Hi Christof, @chrmarti I am running az cli that is installed together with [Azure Machine Learning workbench](https://docs.microsoft.com/en-us/azure/machine-learning/preview/quickstart-installation). In the past, I tried to update to the latest version and it did not help the issue.

C:\10.DEV_REPOS\kaggle-jigsaw>az --version
azure-cli (2.0.17)

VS Code:
Version 1.21.1
Commit 79b44aa704ce542d8ca4a

[2018-04-05 19:04] mcollier commented on #19
@chrmarti Running `az --version` results in **2.0.30**.

Where do you see the suggestion that the Azure CLI is < 2.0.24?

[2018-04-06 05:46] chrmarti commented on #19
@vykhand Please update to the latest CLI version. We had reports of significant performance improvements starting with 2.0.24.

@mcollier I see it using the pre-2.0.24 CLI's API in your screenshot. That also shows it using CLI modules in your `AppData\Roaming` folder when it should use those in `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2`. For some reason it mixes up the two versions. What i

[2018-04-09 06:29] chrmarti commented on #19
@mcollier What do you get for `"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -c "import sys; print('\n'.join(sys.path))"`?

[2018-04-12 15:01] chrmarti commented on #19
@derekbekoe Any idea why the `AppData\Roaming` folder makes it to the lookup paths?

[2018-04-19 17:55] mcollier commented on #19
@chrmarti Is there a way to reopen this issue?

@derekbekoe Any thoughts on the AppData\Roaming question asked by @chrmarti?

[2018-06-07 21:01] alandevos commented on #19
having the same issue. console displays following error:

`C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe: No module named azservice`

[2018-06-08 06:53] chrmarti commented on #19
@alandevos What do you get for `"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -c "import sys; print('\n'.join(sys.path))"`?

[2018-06-08 14:42] alandevos commented on #19
C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python36.zip
C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2
C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages

[2018-06-11 22:47] artisticcheese opened #34 "What it `tick` symbol allowing to send input to terminal?"
Hello,

On video below presenter said that pressing `Ctrl-Tick` symbol will send  input from AZCLI file to terminal window. What is exactly that combination?

https://youtu.be/I_UIsbLKBpg

[2018-06-12 05:40] chrmarti commented on #34
On Windows and Linux it's `Ctrl + '` (single tick or apostrophe), on Mac it's `Cmd + '`.

If that doesn't work, it might have been remapped. You can check what the current shortcut is in `File > Preferences > Keyboard Shortcuts` where you can search for `azure` or `azurecli`.

[2018-06-12 05:40] #34 closed

[2018-06-13 08:19] Nan0106 opened #35 "No IntelliSense with latest Azure CLI"
Issue Type: <b>Bug</b>

Azure CLI Tools no intellisense.
Visual Studio Code Console shows:
"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe: No module named azservice"

Extension version: 0.4.1
VS Code version: Code 1.24.0 (6a6e02cef0f2122ee1469765b704faf5d0e0d859, 2018-06-06T17:35:40.560Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2018-06-14 08:56] chrmarti commented on #19
@alandevos We will track your issue as #35.

[2018-06-14 08:57] chrmarti commented on #35
This appears to be a problem with the latest Azure CLI on Windows. I'm investigating.

[2018-06-15 06:09] chrmarti opened #36 "No indication that login is needed"
After the login session expires, completion proposals that lookup resources no longer work. There should be some indication in the UI that `az login` needs to be run.

[2018-06-15 06:45] #35 closed

[2018-06-15 06:46] chrmarti commented on #35
Published 0.4.2 of the extension with the fix for this.

[2018-06-15 06:54] Nan0106 commented on #35
@chrmarti Thank you.

[2018-06-15 07:54] chrmarti commented on #19
Could everyone seeing this update to the latest Azure CLI (2.0.37) and Azure CLI extension (0.4.2) and check if this is still a problem?

[2018-06-25 18:27] troydai opened #37 "Gradually moving towards a unified CLI Core API module"
It is not ideal to depend on private module as it is subject to change.

https://github.com/Microsoft/vscode-azurecli/blob/7d5817590648925f493e312ede67f0391db6f5bf/service/azservice/tooling1.py#L21

We're introducing a `api` module in the core so as to lock down the common APIs. The module will serve as the contact between command modules developers and the Core so that we know when to lock when a

[2018-07-12 11:04] stenastena opened #38 "Intellisense doesn't work"
Issue Type: <b>Bug</b>

I installed an extension Azure CLI Tools and feature Intellisense doesn't autocomplete.
I reinstalled the extension. It didn't help. I deleted VS Code and deleted .vscode direcory in my profile. After that I upgraded Azure CLI,  installed last version of VS Code, installed extension Azure Cli Tools, added to the Path environment variable the exect path to Python, rebooted W

[2018-07-27 07:16] stenastena commented on #38
It worked! Must be run as administrator.

[2018-07-27 07:16] #38 closed

[2018-07-27 10:32] chrmarti commented on #38
Do you have an idea why it needs to be run as administrator?

[2018-08-14 23:31] robsonpeixoto opened #39 "Add option to configure `az` path"
I'm using macOs and I installed using `brew install azure-cli`. So it's not in the `PATH` variable.

I'd like to configure the `az` binary path to avoid this error: `'az' not found on PATH, please make sure it is installed.`

[2018-10-26 10:28] rfkamal opened #40 "All azure commands in VSC are appearing as not found."
Hi,

I have installed the Azure Tools in Visual Studio Code. However, when I attempt to sign in to Azure, or use any of the Azure commands in fact, I am getting the notifications an example of which is: 'command 'azure-account.login' not found' another example is 'command 'azureFunctions.createNewProject' not found'.

I have uninstalled the Azure Tools and re-installed them, downloaded and install

[2018-11-06 10:32] chrmarti commented on #40
Anything in the console (Help > Toggle Developer Tools)? The first errors in the console would be interesting since these might have triggered all others.

[2018-11-06 10:52] rfkamal commented on #40
Hi Chrmarti, thanks for the reply.

I get the following error in the console:
Error: command 'azureFunctions.createFunction' not found
    at t._tryExecuteCommand (file:///C:/Users/934873/AppData/Local/Programs/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:3030:36)
    at file:///C:/Users/934873/AppData/Local/Programs/Microsoft VS Code/resources/app/out/vs/workbench/workbench.

[2018-11-06 11:07] chrmarti commented on #40
Could be https://github.com/Microsoft/vscode/issues/58918. Could you try the insiders build and see if it is fixed there? https://code.visualstudio.com/insiders/

[2018-11-06 11:09] rfkamal commented on #40
Yes, it is working in the insider build it is working with no issues.
Thank you for your help.

[2018-11-06 11:11] chrmarti commented on #40
Great, the insiders version will soon make it into a new stable release. Closing.

[2018-11-06 11:11] #40 closed

[2019-01-05 21:35] sameershaikgithub opened #41 "keyvault wrong argument --vault-name in VSS instead of --name"
in VSS auto complete shows --vault-name which doesn't exists in cli instead uses --name. Please update this. Screenshot attached.

bash-3.2$ az keyvault purge  --vault-name shaiksvault
az keyvault purge: error: argument --name/-n is required

usage: az keyvault purge [-h] [--verbose] [--debug]
                         [--output {tsv,table,json,jsonc,yaml}]
                         [--query JMESPAT

[2019-01-06 00:01] sameershaikgithub opened #42 "az sql database VSS auto complete lists arguments like --database-name & --server-name"
in VSS:
az sql db create  (auto complete shows --database-name & --server-name, instead of  --name & --server)

correct syntax:
az sql db create --name shaiksdb --resource-group cligroup --server shaikssqlserver

az: error: unrecognized arguments: --database-name shaiksdb --server-name shaikssqlserver

screenshot attached
<img width="558" alt="screen shot 2019-01-05 at 6 51 05 pm" src="https://use

[2019-01-07 09:32] chrmarti commented on #42
We are reading these from the CLI itself. `az interactive` shows the same (wrong) argument names for `sql db create --help`.

[2019-01-07 09:32] chrmarti commented on #41
We are reading these from the CLI itself. `az interactive` shows the same (wrong) argument names for `keyvault purge --help`.

[2019-01-07 09:33] chrmarti commented on #42
This issue was moved to Azure/azure-cli#8179

[2019-01-07 09:33] #42 closed

[2019-01-07 09:33] chrmarti commented on #41
This issue was moved to Azure/azure-cli#8180

[2019-01-07 09:33] #41 closed

[2019-01-17 14:57] Jarlotee commented on #4
I would like to second this.

The syntax highlighting for az is awesome but I can't run this from the command line or copy and paste it to a script file without further formatting

Have you considered supporting `.azcli.sh` or .azcli.ps1`  and adding the appropriate syntax highlighting?

It would make this plugin infinitely more useful!

[2019-01-23 15:45] TechWatching opened #43 "Using variables instead of string"
Is it possible to use variables in an azure cli scrapbook when using it on Windows ?
I want to be able things like that :

`az group show --resource-group $resourceGroup`

[2019-01-29 10:32] chrmarti commented on #43
Since you execute the script line-by-line in the terminal, you can add `export resourceGroup=your-group` to the script or type that in the terminal before you run parts of your script. There is currently no other way to bring in variables than what your terminal shell supports.

Does that help?

[2019-01-29 10:55] chrmarti commented on #19
@samhodgkinson Are there any errors in the console (Help > Toggle Developer Tools)?

[2019-01-30 15:59] samhodgkinson commented on #19
There are a few issues but none I can see for ms-vscode.azurecli, let me know If there are any log files I can attach.

[2019-01-30 17:15] TechWatching commented on #43
Ok thanks for your answer.

[2019-01-30 17:16] #43 closed

[2019-01-30 23:19] aws-scripting-guy opened #44 "Intellisense showing invalid argument for az group name: --rg-name"
Using latest Azure CLI tools for VS Code 0.4.2

Steps to reproduce the issue:

1. Typing in .azcli file
az group create
 Intellisense suggesting --rg-name as required argument for group name.  There is also missing help (stuck in Loading)

2. Right-click and Run line in the terminal
az group create --rg-name myGroup2 \\
 --location westeurope --tags 'Environment=Test'

3. Output
az group show: err

[2019-01-31 06:50] chrmarti commented on #44
Can reproduce with Azure CLI 2.0.56.

[2019-01-31 06:51] chrmarti commented on #44
This issue was moved to Azure/azure-cli#8395

[2019-02-20 00:13] akvaswani opened #45 "PowerShell in cloud shell"
Issue Type: <b>Bug</b>

After logging in to Azure, the cursor always points to the 1,1 cursor location (top-left) of terminal instead of PS Azure:>. Even if you manage to type a command, it gets executed on a random keystroke.

Extension version: 0.4.2
VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 6.1.7601

<details>
<s

[2019-02-20 08:12] chrmarti commented on #45
@akvaswani Could you update to the latest version of the extension (0.8.0) and confirm the problem is still there?

[2019-02-20 23:55] akvaswani commented on #45
Yes, I am on 0.8.0 version.

[2019-02-24 08:21] fxlv commented on #44
Same problem with "--vm-name" that is suggested by VSCode vs "--name" that is actually expected by az cli.
I think this should not be closed as it is very much an issue.

[2019-02-27 15:40] Tyriar opened #46 "Extension complaining az not on PATH"
It's definitely there.

![image](https://user-images.githubusercontent.com/2193314/53502248-87bc9580-3a62-11e9-9310-ec07756ea80a.png)

System path:

![image](https://user-images.githubusercontent.com/2193314/53502332-b470ad00-3a62-11e9-96ea-20e99eda4cad.png)

VS Code Window path:

![image](https://user-images.githubusercontent.com/2193314/53502377-c81c1380-3a62-11e9-8eca-855e55123712.png)

az vers

[2019-02-27 15:41] Tyriar commented on #46
This was originally reported https://github.com/Microsoft/vscode-azurecli/issues/12

This happens after reloading the window, the extension host should have the right path as the renderer has it.

[2019-03-04 10:35] chrmarti commented on #46
@Tyriar Is this still a problem? If the renderer has already picked up the PATH, the extension host should get it too. Is there anything that can go wrong there?

[2019-03-04 11:53] chrmarti commented on #45
@akvaswani Could you check if https://shell.azure.com has the same behavior?

[2019-03-04 15:29] Tyriar commented on #46
@chrmarti well it definitely happens on Windows when az is installed, maybe there's an error somewhere in https://github.com/Microsoft/vscode-azurecli/blob/6f259b8e38ebcde828909181cdc838d3d5aa5bf1/src/azService.ts#L118-L141 ?

[2019-03-04 15:57] chrmarti commented on #46
@Tyriar That looks fine from what I see. Does `cmd.exe` find `az` too? (That's what Node.js uses.)

[2019-03-04 20:56] vbdcb commented on #44
Same thing with "**az network vnet create**"
--vnet-name should be --name
--vnet-prefixes should be --address-prefix

[2019-03-05 10:17] #46 closed

[2019-03-05 10:17] chrmarti commented on #46
@Tyriar found and fixed it. Please update to the latest version. Thanks.

[2019-03-05 19:36] Tyriar commented on #46
Nice 😃

[2019-03-11 12:13] #45 closed

[2019-03-13 14:42] #44 closed

[2019-04-10 18:50] mantakaras commented on #19
Azure cli -2.062
Python  3.6.6
win 10

[2019-04-11 15:29] Jatrott opened #48 "[Feature Request] Support other file extensions (.sh)"
It'd be really useful to have this functionality within shell scripts and not have to create a separate .azcli file just to work on the az command segments.

[2019-04-12 05:07] chrmarti commented on #48
You can switch the mode of the open `.sh` file to use the `.azcli` support:
- F1
- `Change Language Mode`
- `Azure CLI Scrapbook`

[2019-04-12 11:46] tilakmishra opened #49 "Unable to recognize multiline command"
I am trying to run this below command using VS code but it doesnt recognize muti-line parameter and giving below error saying following arguments are required. However, arguments are passed

How to overcome this? Not sure if this is a bug or something i am missing. Couldn't find any solution after searching so many ways in internet and hence creating this issue. Thanks for helping.
{
    "stderr":

[2019-04-13 09:30] hursitcakmakci opened #50 "ImportError: cannot import name 'DEFAULTS_SECTION'"
I installed an extension Azure CLI Tools and feature Intellisense doesn't autocomplete. I get the following error in developer tools.

**My Version of Software are:**

Azure-CLI version: 2.0.62
Azure Tools Version: 0.0.6
Azure CLI Tools Version: 0.4.4
VS Code Version: 1.33.1

**Developer Tools**

Traceback (most recent call last):
  File "C:\Users\hursi\.vscode\extensions\ms-vscode.azurecli-0.4.4\

[2019-04-18 06:15] vermegi commented on #19
Same issue here
azure cli 2.0.62
windows 10
azcli tools 0.4.4
![image](https://user-images.githubusercontent.com/1042817/56340408-55493200-61a1-11e9-9cea-0ccf9190ee22.png)

[2019-04-18 13:19] Shaun-Cox commented on #19
Same issue here.

[code]

[code]

[code]

[code]

[code]

[2019-04-18 13:35] Variour commented on #50
Same issue as #19?

[2019-04-19 09:08] LudwikBielczynski commented on #19
Same issue here:
`
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/opt/az/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/ludwik/.vscode/extensions/ms-vscode.azurecli-0.4.4/service/azservice/__main__.py", line 17, in <module>
    from azservice.tooling import GLO

[2019-04-19 15:53] chrmarti commented on #19
Let's track the latest reports in #50 which specifically for the reported issue with 2.0.62 of the CLI.

I'll close this very old issue. If you see other problems with IntelliSense than the one in #50, please open a new issue.

[2019-04-19 15:53] #19 closed

[2019-04-19 16:57] Shaun-Cox commented on #50
The related change in azure-cli that likely caused this (in case it wasn't obvious): https://github.com/Azure/azure-cli/pull/8940/files/64b13c0f288d8ade6bfc061d0f4fbd6cbf6a7d1c

[2019-04-21 20:46] #50 closed

[2019-04-24 10:18] FoldZero commented on #4
yes, .azcli does not support auto formatting (like .ps1 does) in vscode. This could also be expanded upon.

[2019-06-11 07:12] tmds commented on #4
Closing due to age.

[2019-06-11 07:12] #4 closed

[2019-06-13 19:37] loquilloll opened #51 "intelisense"

[2019-06-13 19:47] loquilloll opened #52 "Intellisense not working"
As soon as I start typing. This shows up in the developer console.

[code]

Version: 1.35.1 (user setup)
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:30:02.622Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.18362

Name: Azure CLI Tools
Id: ms-vscode.azurecli
Description: Tools for developing and running commands of the Azure CL

[2019-06-14 05:18] chrmarti commented on #51
Please file an issue with more details. Thanks.

[2019-06-14 05:18] #51 closed

[2019-06-17 15:18] azMantas opened #53 "No IntelliSense on Windows"
it takes roughly about 10-15 seconds to load suggestions and what I get you can clearly see in the picture. Doesn't matter what kind of command I use, I always get the same results. Tried to run vs code as admin, reinstall both az-cli and plugin, but no help here.
![image](https://user-images.githubusercontent.com/47916866/59615982-d1b9ac00-9123-11e9-97cd-cc9694f2142f.png)

azure-cli: 2.0.66
phyto

[2019-06-28 07:59] #52 closed

[2019-07-03 15:11] sanderobdeijn opened #57 "What is the usecase for this extension?"
Is this extension and the .azcli file format meant as a sandbox environment to experiment with the Azure CLI or as a way to automate your Azure deployments?

I first thought the latter option.
But then I was wondering how to add variables and control structures to scripts. I could use bash or PowerShell format and could tell the shell to execute it. But if the file extension is .azcli how does Pow

[2019-07-03 16:21] chrisdias commented on #57
Hi - good questions.  In general, the extension makes it more natural to write azure cli scripts in VS Code itself, as compared to the command line. When the extension is activated, you get completions, quick info, and even completions based on your azure resources (e.g. it will show you a list of resource groups you have defined in Azure).

Language Services are activated based on the type of fil

[2019-07-03 16:21] #57 closed

[2019-07-10 03:53] kmin1223 opened #58 "what is escape character of #"
I want to use like below, but the # character is recognized as comment.
 --admin-password "!@#$"
what is escape character of #?

[2019-07-30 13:00] mcollier commented on #53
Same error.

azure-cli: 2.0.70
python: 3.7.4
vs code: 1.36.1
win 10: 1809

[code]

[2019-08-15 07:41] chrmarti commented on #53
Which version of the Azure CLI extension are you using?

[2019-08-15 08:11] azMantas commented on #53
2.0.71

[2019-08-15 09:48] chrmarti commented on #53
That's the CLI's version. What's the extensions version? (As seen in VS Code's extension viewlet.)

[2019-08-15 10:20] azMantas commented on #53
0.4.6
I also tried older versions (all the way to 3.0) but none of them works smooth. With version 0.4.3 I have the best experience and have to wait for a suggestion for a few seconds or so. Is still better then nothing.

[2019-08-15 10:30] chrmarti commented on #53
Great, thanks!

[2019-08-15 14:01] mcollier commented on #53
Reinstalling 0.4.6 did not work for me.  I did recently update a few components.  Here is what I currently have:

- Azure CLI:                            2.0.71
- Azure CLI Tools Extension:  0.4.6
- Python:                                3.7.4
- VS Code:                             1.37.0 (user setup)
- Windows 10:                       1903 (OS Build 18362.267)

I did notice that I seem to have t

[2019-08-15 17:12] azMantas commented on #53
Every single time I have to use *.azcli file, first I have to disable plugin, reload vs code, enable plugin again and it works after few seconds of "warming up"

[2019-08-16 06:48] chrmarti commented on #53
Is there anything in the console (Help > Toggle Developer Tools) when it does not work?

[2019-08-16 08:09] azMantas commented on #53
![image](https://user-images.githubusercontent.com/47916866/63152520-57ff4b00-c00c-11e9-82d4-eb03c58114b8.png)

[2019-09-22 09:04] wshamroukh commented on #53
I have the same exact behavior here.. Sometimes it never show suggestion at all and gets stuck at loading. I also the same exact error in that AzMantas shared from the console

[2019-09-22 17:32] wshamroukh commented on #53
[https://raw.githubusercontent.com/wshamroukh/images/master/Annotation%202019-09-22%20212734.png](url)

[2019-09-22 17:33] wshamroukh commented on #53
https://raw.githubusercontent.com/wshamroukh/images/master/Annotation%202019-09-22%20212734.png

[2019-09-25 09:27] wshamroukh commented on #53
@chrmarti
I have been scratching my head around this issue. I have noticed that every 5-10 seconds or so the python process is exiting an a new one is created which this causes the delay in the autocompletion of Azure CLI commands. This keeps happening all the time as long as code.exe is open and a new file is open in the code.exe and the script file is Azure CLI.

This is the command that the pyt

[2019-09-25 13:44] wshamroukh commented on #53
@azMantas / @chrisdias  it seems this could be related to this issue? [https://github.com/Azure/azure-cli/issues/10496](url)

[2019-09-25 13:48] chrmarti commented on #53
@wshamroukh You're right. Thanks for investigating. Marking as upstream issue.

[2019-09-26 07:59] wshamroukh commented on #53
@azMantas @mcollier - to work-around this issue, there should be the following two files under` C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\azure\mgmt\apimanagement\models\`:
[code]
I had to take a copy of **_api_management_client_enums.py** and rename it to **api_management_client_enums.py**

After doing this, the Azure CLI extension on visual studio code is just working li

[2019-09-26 15:10] azMantas commented on #53
First I had to update az version to get to the "apimanagement" folder. To rename or delete api_managment file makes no different in performance. I also reinstalled az cli extension - no help

[2019-09-26 22:23] sbhuttan commented on #49
Any updates on this issue. Multiline statements still do not seem to work.

[2019-09-27 06:43] chrmarti commented on #49
It doesn't work when running the command in the background with the results shown in a side-by-side editor.

It does work when you put a `\` at the end of all but the last line and use `Run Selected Text in Active Terminal`.

[2019-09-30 14:54] mcollier commented on #53
Same as @azMantas. No joy.

[2019-09-30 15:09] wshamroukh commented on #53
So you just get the "unknown error occurred" error?
I see this error is generated from time to time when the autocompletion shows up late (5 seconds or so)

[2019-10-02 03:24] mcollier commented on #53
After a few seconds, I notice the following in the "Log (Extension Host)" output window:

[code]

In the console (Help > Toggle Developer Tools), I notice the following:
[code]

[2019-10-02 08:37] chrmarti commented on #53
@mcollier That is a different issue. Please update to the latest version of the Azure CLI and file a new issue here if the problem persists. Thanks.

[2019-10-02 12:18] mcollier commented on #53
I'm running Azure CLI version 2.0.74.  According to https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest, that is the latest version (as of this writing).

[2019-10-04 17:58] sbhuttan commented on #49
I am seeing same behavior on the Terminal. Each line runs individually. I used "Run Selected Text in Active Terminal" as suggested.

![image](https://user-images.githubusercontent.com/3650124/66229019-e27c3680-e6ae-11e9-9f25-dda3bd5d0eb8.png)

[2019-10-05 11:46] chrmarti commented on #49
The line continuation character for PowerShell is `, not \. I missed you are using PowerShell.

[2019-10-21 23:39] jessetechie opened #62 "Relative paths"
I tried executing a command that takes a file path, like

[code]

But I kept getting

[code]

I was somewhat surprised when I ran `dir` from the editor, that it returned the contents of `~\AppData\Local\Programs\Microsoft VS Code` (this is Windows obv).

Do I always have to provide a full path to a file, or is there a way to make a relative path work?

Then, as a workaround, I ran the above comman

[2019-10-22 12:30] chrmarti commented on #62
We should pass the `.azcli` file's folder as working directory: https://github.com/microsoft/vscode-azurecli/blob/0ac34e2214078270b63cf6716423d40a60423834/src/extension.ts#L200

[2019-11-28 15:25] fle108 opened #63 "Python process high cpu usage"
VSCode Version: 1.40.2
OS Version: Windows10 v1909 Build 18363.476
Steps to Reproduce:

install or have installed azurecli on windows (typically : C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2
install or have installed azureclitools in vscode
create or edit file named *.azcli
Result: subprocess Visualstudiocode\python(32bit) located at C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe

[2019-12-31 11:54] mataralhawiti commented on #49
I've having the same issue.

[2020-01-06 08:46] chrmarti commented on #49
@mataralhawiti Are you using PowerShell or some Unix shell? Note that PowerShell uses \` (backtick) at the end of each but the last line. Unix shells use `\` (backslash).

[2020-01-06 13:42] mataralhawiti commented on #49
I'm using the regular windows CMD

here's my code :

`az group create --location westeurope\`
`--name rg_playground2\`
`--tags owner:'Matar' for:airflow'`

The error :

'--name' is not recognized as an internal or external command,
operable program or batch file.

[2020-01-07 08:43] chrmarti commented on #49
If you are using PowerShell in the terminal you need to replace the backslashes with backticks. If you are using CMD you need to replace the backslashes with carets (^). The different shells have different line continuation characters.

[2020-01-08 19:27] mataralhawiti commented on #49
thanks it works now

[2020-01-15 21:15] wshamroukh opened #64 "IntelliSense doesn't work after a few lines of code"
Hi Team,

I have noticed this since i started working on Azure CLI Tools extension. The intelliSense doesn't kick in at all and if i press ctrl+space to force it to show suggestions, the loading message stays there forever. The only way to get it to run back, is by closing vscode and reopen it

here is what i see from the console
`  ERR canceled
console.ts:137 [Extension Host] Completions not foun

[2020-01-16 09:14] chrmarti commented on #64
Which version of the CLI are you using?

[2020-01-16 09:17] wshamroukh commented on #64
@chrmarti i am using the latest i guess - 1.41.1

Version: 1.41.1 (user setup)
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:58:56.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

[2020-01-16 09:25] wshamroukh commented on #64
` az --version
azure-cli                         2.0.80

command-modules-nspkg              2.0.3
core                              2.0.80
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
azure-firewall                     0.1.5
front-door                         1.0.2
virtual-wan                        0.1.2

Python location 'C:\Python\python.exe'
Ext

[2020-02-12 17:44] papymaj5 commented on #63
Happening to me too with VSCode 1.42.0

[2020-02-13 14:22] thakkarparth007 commented on #46
Just adding a comment - this might also happen if you've installed az on the windows system, but your VS Code window is running from WSL where az might not have been installed. Happened with me, might help some random user.

[2020-02-14 07:41] fle108 commented on #63
i actually use a vm ubuntu 18.04 on local hyper-v for dev environment with vscode server installed. Every extensions are installed on it , the only installed locally is remote-ssh.
It works a lot better and solves me a problem with git file mode and NTFS as i'am now on true ext4 file system through this vm.

For sure it's not a fix but this config helped me a lot.

[2020-02-20 12:28] deltadan opened #65 "Automated install of CLI extension on azure VM via custom script extension"
I'm working on a project to help people use the azure CLI for doing azure administrations.  I've created a VM using the custom-script extension which to installs a bunch of tools (via chocolatey), including VSCODE and would like to auto-install this extension on provision.

The issue I'm running into is the extension seems to install to the user path rather than to a common location.

I was using

[2020-03-11 18:56] rich17lucas opened #66 "Intellisense for Azure CLI throwing error"
The AZ Cli plugin is not giving any Intellisense suggestions.

In the Developer Tools console I see these errors appear as I type `az `.
[code]

If I create a Python file in VSCode, the Python Extension works perfectly, so this seems to be AZCLI extension specific.

**Envrionment Setup**
Windows 10, version 10.0.18362 Build 18362
Python: Anaconda 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915

[2020-03-12 09:35] chrmarti commented on #66
Which version of the Azure CLI are you running?

[2020-03-12 12:15] rich17lucas commented on #66
Hi Christof,
I installed version 0.5.0.

[2020-03-12 17:19] chrmarti commented on #66
@rich17lucas That must be the extension's version. What does `az --version` tell you?

[2020-03-13 07:33] rich17lucas commented on #66
@chrmarti Apologies.  The output is:
[code]

The Python location is interesting as the error message in the VSCode console refers to the Anaconda installation on the E:

![console log](https://user-images.githubusercontent.com/6755657/76599346-b934c180-64fc-11ea-9f7f-bcc37f673328.png)

[2020-03-13 08:51] chrmarti commented on #66
What do you get for the following in PowerShell:
[code]

Please upgrade to the Azure CLI 2.2.0 to make sure you are not missing any bugfixes.

[2020-03-13 13:17] rich17lucas commented on #66
Hi
The PowerShell output is here:
[code]

This is the system path:
[code]

And if I just run `python` from a prompt the system opens the Windows AppStore and displays Python 3.8.

[2020-03-16 12:07] chrmarti commented on #66
Could you change `%USERPROFILE%\.vscode\extensions\ms-vscode.azurecli-0.5.0\service\az-service.bat` by adding `-IB` to line 4 to:
[code]
and let me know if that helps?

[2020-03-16 13:07] rich17lucas commented on #66
Hi Christof,
You are a 'steely-eyed missile man'. The `-IB` fixed the problem. What does it do?

![console_fixed log](https://user-images.githubusercontent.com/6755657/76761282-12178a80-6787-11ea-95e2-ef7a210bc10e.png)

[2020-03-16 14:05] chrmarti commented on #66
It runs Python in isolated mode. (Reopening for tracking.)

[2020-03-27 12:46] pshukla03 opened #67 "The access token has been obtained for wrong audience or resource"
Issue Type: <b>Bug</b>

Getting intermittent error for Azure CLI Scrapbook while running powershell in CloudShell

The access token has been obtained for wrong audience or resource 'https://graph.windows.net/'. It should exactly match with one of the allowed audiences 'https://management.core.windows.net/','https://management.core.windows.net','https:ement.core.windows.net','https://management.azu

[2020-04-01 16:22] hvcgi opened #68 "Intellisense doesn't work if users home directory has space in it"
Hi,

User's home folder is "c:\FIRSTNAME LASTNAME".

Intellisense shows "No suggestions." and on debug console there are couple of errors.

![image](https://user-images.githubusercontent.com/32951451/78161288-e5819500-744d-11ea-9f96-b139e577a99a.png)

If user's home folder is changed to "c:\user\FIRSTNAMELASTNAME" Intellisense works ok. But after home folder rename lot of other applications stoppe

[2020-04-05 22:17] megnath777 opened #69 "How to run the selected text ? and what is the keyboard short cut to do the same?"
How to run the selected text (Command)? and what is the keyboard short cut to do the same?
I know it a stupid question but it is not obvious , I am new to VS code!

[2020-04-06 12:10] chrmarti commented on #69
Press `F1` and search for that command:
![image](https://user-images.githubusercontent.com/9205389/78556862-0b24ea80-7810-11ea-9557-dc724fc30af6.png)

This is a built-in command from VS Code, I don't think there is a shortcut assigned, but you can certainly assign one (I use `Cmd + '` on Mac).

[2020-04-06 12:10] #69 closed

[2020-04-06 12:11] chrmarti commented on #69
There is also documentation on assigning keybindings, HTH: https://code.visualstudio.com/docs/getstarted/keybindings

[2020-04-24 16:52] Tyriar opened #70 "Intellisense gives different results based on when you trigger it"
`--name` should show up even when it's triggered on the exact match `--name`

![8f702eff-165a-4959-b6eb-326edb904844](https://user-images.githubusercontent.com/2193314/80237236-40ec1080-8611-11ea-840c-f3815b71012b.gif)

[2020-04-27 09:51] chrmarti commented on #70
We filter out those argument names that are already there.

[2020-04-27 12:25] Tyriar commented on #70
That's not how other languages work. I used ctrl+space to read the info on - - name but it didn't show up

[2020-05-13 22:21] david-lilly opened #71 "No intellisense/autocomplete for azcli"
No intellisense/autocomplete for azcli in Visual Studio Code.

Operating System: Ubuntu 20.04 LTS
Kernel: Linux 5.4.0-29-generic

Visual Studio Code:

Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:10:24.511Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.0-29-generic snap

Azure CLI Tools Extension:
ms-vscode

[2020-06-05 08:59] pfiadeiro commented on #68
Also having the same issue as above. Any update on this item?

[2020-06-27 11:11] mykelalvis commented on #71
Same for Fedora 32
[code]

[2020-07-02 09:38] mafranko commented on #71
It does not work as expected in Visual Studio Code either.

Version: 1.46.1 (user setup)
Commit: cd9ea6488829f560dc949a8b2fb789f3cdc05f5d
Date: 2020-06-17T21:13:20.174Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Azure CLI Tools version 0.5.0.

[2020-07-06 21:27] anvarich commented on #71
reinstalling helped me

[2020-07-13 08:56] Mahesh-MSFT commented on #43
i think adding support for variables will help drive adoption. It is not practical to set so many variables ([example](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) below) each time on the terminal before switching back to scrapbook.

[code]
Any suggestions?

[2020-07-13 09:06] Mahesh-MSFT opened #72 "Add support for Variables"
i think adding support for variables will help drive adoption. It is not practical to set so many variables ([example](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) below) each time on the terminal before switching back to scrapbook.

[code]
Any suggestions?

_Originally posted by @Mahesh-MSFT in https://github.com/microsoft/vscode-azurecli/issues/43#issuecomment-657421250_

[2020-07-31 15:12] chrmarti commented on #71
Please make sure you are on the latest version of the CLI. (I have 2.9.1.)

[2020-08-07 15:28] #71 closed

[2020-08-20 13:13] westerdaled opened #73 "Setting up the BASH config Settings.json after WSL2 installation"
Hi
I have installed WSL2 as I want to run Azure CLI Kung fu which requires BASH terminal.
[code]
Next I want to set up my Bash Terminal ( not as default) so I can select it in the Terminal drop down. Is there a tidy way to configure this ?

At the moment my settings.json has  a couple of issues:

[code]

Any suggestions are welcome. Note, I haven't installed GIT Bash shell up to now as I normally

[2020-09-07 16:35] #39 closed

[2020-10-14 12:40] DracoLlasa opened #74 "not recognizing 'new region' folding formats"
When trying to create regions in a file, I tried using the various #region #endregion tags listed here :: https://code.visualstudio.com/docs/editor/codebasics#_folding

it seems that none of these work to create foldable regions

[2020-10-27 07:25] Panke opened #75 "Extension not found under linux extensions tab"
Neither can I install the extension via `ext install ms-vscode.azurecli` nor can I find it manually in the market place.

I am running

How do I install it?

[2020-10-27 07:30] chrmarti commented on #75
Do you see other extensions in the Extensions viewlet? Are you behind a network proxy?

[2020-10-27 07:33] Panke commented on #75
Yes, `Azure App Service`, `Azure Storage`, `Azure Event Grid` are there as are many others (language packs, keymaps etc.) No Proxy.

[2020-10-27 09:03] chrmarti commented on #75
Duplicate of https://github.com/microsoft/vscode/issues/107997#issuecomment-703245178

[2020-10-27 09:03] #75 closed

[2020-11-16 14:08] owingruters opened #77 "intellisense is working very slow"
Hi,

I have this extension installed in VS Code, but I see that intellisense in responding very slowy.
When I for example type "az we" or "az web" or "az weba" I would expect the autocomplete to show the "webapp" as possibility quite immediately.:
![image](https://user-images.githubusercontent.com/11571671/99261509-1cf65380-281d-11eb-9c72-47cfb8badd90.png)

I was hoping that this was only the firs

[2020-11-20 19:17] real1st opened #78 "The term 'az' is not recognized as the name of a cmdlet, function, script file, or operable program."
![image](https://user-images.githubusercontent.com/48164048/99840413-2f51f380-2b75-11eb-8feb-90e6be1f767b.png)
![image](https://user-images.githubusercontent.com/48164048/99840545-67f1cd00-2b75-11eb-9e49-450a34784c3f.png)
![image](https://user-images.githubusercontent.com/48164048/99840607-88218c00-2b75-11eb-92f2-3e2e8602a8a4.png)

Azure cli is successfully installed and working on Lens or powersh

[2020-11-23 08:34] chrmarti commented on #78
Does it work when you start VS Code from the command line (where it `az` works)?

[2020-11-23 17:14] real1st commented on #78
fixed

thank you!

it was extensions issue's

don't know which one

solution: delete all extensions from directory where application is installed

[2020-11-24 06:18] #78 closed

[2020-12-08 07:31] #63 closed

[2020-12-08 07:32] fle108 commented on #63
i use now pythonn from wsl2, no problem with.

[2020-12-30 16:19] Defforge309 commented on #25
ON / OFF OK.

[2020-12-31 18:37] peternazarov opened #80 "IntelliSense hangs"
IntelliSense hangs. In order to get it working again need to restart vs code. Then, after the restart, it stops working very soon again.

It is just so sad to see that there are still almost in 2021 no proper reliable robust dev tools to work with Azure - it looks that Azure is still a very immature technology. A big shame on Microsoft!

![image](https://user-images.githubusercontent.com/21163169/

[2021-02-24 18:34] murdockcrc opened #81 "How to reference variable name for execution in Terminal"
Not sure what I missed here, but if I execute this line in the terminal from the scrapbook:

`subscriptionId=xxxxxx-48aa-4fa8-b535-af40e0000207`

And then execute this one too:

`az account set -s $subscriptionId`

The terminal shows that the following command was executed:

`az account set -s $subscriptionId`

The value of the variable was not used when executing the second command.

Just wonderi

[2021-03-27 07:01] muhnick commented on #80
Same issue.

[2021-04-12 19:37] suaknab opened #82 "Create a subnet under a virtual network."
This one doesn't work, anyway to create a subnet under a virtual network? Thanks a lot

az network vnet subnet create -g $rg --vnet-name VNET1 --address-prefixes 10.0.0.0/16 --name VNETSUBNET1 --address-prefixes 10.0.1.0/24

[2021-04-12 20:24] #82 closed

[2021-04-17 17:31] SimJWalter commented on #53
this is still an issue, this extension doesn't work at all, just comes up with "Loading..." then nothng, and if the user cancels out of it then the log says "Err canceled"

[2021-05-04 17:10] lszomoru opened #83 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:52] lszomoru opened #84 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-07-13 22:03] jccasinger opened #85 "az cli az tag works in VSC powershell, fails in VSC bash"
Issue Type: <b>Bug</b>

Hello,

The Azure cli tag (az tag) command does not work for me in Windows 10 Visual Studio Code's (VSC) bash shell.  I think Git bash and just "bash" in VSC are the same, but I tried in both, just in case - both fail.    The exact same commands as shown below work in VSC's Powershell and in the Azure Portal's CloudShell bash.    Also all the other az commands I could try w

[2021-07-17 19:27] jccasinger commented on #85
I found the solution.   Running az tag with --debug showed the $PATH variable was being prepended to the resource ID.  Searching for "azure vsc path appearing in az cli resource-id" turned up the following:

      https://github.com/Azure/azure-cli/issues/14299       "azure cli commands automatically appends git-bash path in the parameter that contains forward slash"

...which in turn pointed me t

[2021-07-19 06:47] chrmarti commented on #85
Thanks, closing as resolved.

[2021-07-19 06:47] #85 closed

[2021-08-03 14:44] drarsalan commented on #53
Working on Ubuntu 20.04 not on windows 10

[2021-08-16 17:38] egreenspan2 commented on #53
Still seeing this issue running VSCode 1.59.0 on Windows with remote ssh to Centos vm.

The following pops up in debug console in vscode every time intellisense is invoked.

`console.ts:137 [Extension Host] Traceback (most recent call last):  File "/usr/lib64/python3.6/runpy.py", line 193, in _run_module_as_main    "__main__", mod_spec)  File "/usr/lib64/python3.6/runpy.py", line 85, in _run_code

[2021-10-18 12:38] wshamroukh commented on #64
It is there:
[code]

[2022-04-22 12:07] cottiar commented on #68
Setting a shortcut on Windows with an argument to override the extensions location for VS Code works. Example:
Code.exe --extensions-dir "NewPath\.vscode\extensions"

[2022-05-09 08:34] wshamroukh opened #86 "Intellisense doesn't work for newly installed az cli extension"
When a new az cli extension is added, we don't get IntelliSense for the commands of this new extension. In my case I have just added **virtual-wan** extension:

[code]
However in vscode, as you can see, the intellisense doesn't see the newly installed extension and even if i restart vscode:

![image](https://user-images.githubusercontent.com/91495448/167371589-f53624e3-b650-4101-8ba2-be6ad9e37fe1.

[2022-11-20 00:42] devdeer-yashas commented on #19
azure-cli version : "2.42.0". Intellisense fails after a few minutes in VS code. on pressing ctrl + space it just says loading.

[2022-11-22 06:56] AndreyTomilinXmpi commented on #49
Same for me: the ` does not work with PowerShell 7.3.0, but works with previous versions.
Welcome to the world of Microsoft standards and backward compatibility!
Some things never change.